<article class="about">
  <h1>This is an about page</h1>

  <p>
    Wild Wild West Jim West, desperado, rough rider No you don't want
    nada None of this, six gunnin' this, brotha runnin' this Buffalo
    soldier, look it's like I told ya Any damsel that's in distress Be
    out of that dress when she meet Jim West Rough neck so go check the
    law and abide Watch your step with flex and get a hole in your side
    Swallow your pride, don't let your lip react You don't wanna see my
    hand where my hip be at With Artemus from the start of this Runnin'
    the game, James West tamin' the west So remember the name Now who ya
    gonna call?
  </p>

  <p>
    Not the G.B.'s Now who you gonna call? "G double E G" If you have a
    riff with people wanna bust Break out before you get bum rushed at
    the (Wild Wild West) When I roll into the (Wild Wild West) When I
    stroll into the (Wild Wild West) When I bounce into the (Wild Wild
    West) Sisqo, Sisqo We going straight to the Wild Wild West We going
    straight to the Wild Wild West.
  </p>

  <p>
    Now, now, now, now once upon a time in the west Mad man lost his
    damn mind in the west Loveless, givin' up a dime, nothin' less Now I
    must put his behind to the test (Can you feel me?) Then through the
    shadows, in the saddle, ready for battle Bring all your boys in,
    here come the poison Behind my back, all the riffin' ya did Front
    and center, now where your lip at kid? Who dat is? A mean brotha,
    bad for your health Lookin' damn good though, if I could say it
    myself Told me Loveless is a mad man but I don't fear that.
  </p>

  <p>
    Got mad weapons too, ain't tryin' to hear that Tryin' to bring down
    me, this champion When y'all clowns gon' see that it can't be done
    Understand me son, I'm the slickest they is I'm the quickest as they
    is, did I say, I'm the slickest? They is So if you barking up the
    wrong tree we comin' Don't be startin' nothin' Me and my partner
    gonna test your chest, Loveless Can't stand the heat then get out
    the Wild Wild west We going straight to (When I roll into the) The
    Wild Wild West (When I stroll into the) We going straight to (When I
    bounce into the) The Wild Wild West.
  </p>

  <p>
    We going straight to the Wild Wild west We going straight to the
    Wild Wild west To any outlaw tryin' to draw, thinkin' you're bad Any
    draw on West best with a pen and a pad Don't even think about it,
    six gun, weighin' a ton 10 paces and turn just for fun, son Up till
    sundown, rolling around, See where the bad guys are to be found And
    make 'em lay down The defenders of the west, crushin' on pretenders
    in the west Don't mess with us 'cuz we're in the (Wild Wild west) We
    going straight to the Wild Wild West We going straight to the Wild
    Wild West We going straight to the Wild Wild West We going straight
    to the Wild Wild West We going straight to the Wild Wild West.
  </p>

  <p>
    We going straight to the Wild Wild West, come on (Wild Wild West)
    When I roll into the (Wild Wild West) When I stroll into the We
    going straight to the Wild Wild West (The Wild Wild West) (Wild,
    Wild West) Whoo, uh (Wild Wild West) Ha ha ha ha (Wild Wild West) Uh
    Dru, Dru (Wild Wild West) I done done it again y'all done Done it
    again (Wild Wild West) Ha ha ha ha (Wild Wild West) Big Will, Dru
    Hill, uh (Wild Wild West) Big Will, Dru Hill, ha ha ha ha (Wild Wild
    West) The Wild Wild West (Wild Wild West) Uh (Wild Wild West) One
    time (Wild Wild West) Uh (Wild Wild West) The Wild Wild West bring
    in the Heat, bring in the heat, what? (Wild Wild West) (Wild Wild
    West) Uh, can't stop the bum rush The Wild Wild (The Wild Wild West)
  </p>
</article>
